@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* General Styles */
body {
    margin: 0;
    padding: 0;
    background: url("assets/background/Const.png") no-repeat center center fixed;
    background-size: cover !important;
    font-family: 'Luckiest Guy', cursive;
    color: #000000;
    overflow: hidden; /* Prevent scrolling */
}

